<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
				<key>dateExpires</key>
				<string>10/09/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
						<key>dateExpires</key>
						<string>10/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85CJYA8S67</string>
						<key>name</key>
						<string>slamet budiono</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
						<key>dateExpires</key>
						<string>10/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85CJYA8S67</string>
						<key>name</key>
						<string>slamet budiono</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
						<key>dateExpires</key>
						<string>10/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85CJYA8S67</string>
						<key>name</key>
						<string>slamet budiono</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
						<key>dateExpires</key>
						<string>10/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85CJYA8S67</string>
						<key>name</key>
						<string>slamet budiono</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
						<key>dateExpires</key>
						<string>10/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85CJYA8S67</string>
						<key>name</key>
						<string>slamet budiono</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
						<key>dateExpires</key>
						<string>10/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPreferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85CJYA8S67</string>
						<key>name</key>
						<string>slamet budiono</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
						<key>dateExpires</key>
						<string>10/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85CJYA8S67</string>
						<key>name</key>
						<string>slamet budiono</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>063B413EF660F8548B04AFA8E548E0A6ECC80ADC</string>
						<key>dateExpires</key>
						<string>10/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85CJYA8S67</string>
						<key>name</key>
						<string>slamet budiono</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>85CJYA8S67.id.net.dtp.homeapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>85CJYA8S67</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f14440f6-4150-4aa5-b3c3-9caee10dc776</string>
				<key>dateExpires</key>
				<string>10/09/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: id.net.dtp.homeapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>85CJYA8S67</string>
				<key>name</key>
				<string>slamet budiono</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.4</string>
		</dict>
	</array>
</dict>
</plist>
